.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.arrow-style-1 {
  width: 75px;
  position: absolute;
  /* top: calc(0% - 345px); */
  top: calc(54% - 35px);
  left: -78px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.84;
  right: 110px;
  transform: translate(50%);
}

.arrow-style-1.next {
  left: unset;
  right: 0;
  transform: translate(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav-next {
  
  width: 56px;
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* src/Login.css */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* App.css */

/* Global scrollbar styles */
* {
  scrollbar-width: thin; /* For Firefox */
  -ms-overflow-style: thin; /* For IE and Edge */
}

::-webkit-scrollbar {
  width: 8px; /* Slim scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #ff9800; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners for scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Scrollbar track color */
  border-radius: 4px; /* Rounded corners for scrollbar track */
}


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
